<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <!-- Heading -->
      <div class="todo-app">
        <h2>
          To Do List
          <img class="list-img" src="/images/shopping-list.png" alt="" />
        </h2>

        <!-- Input Box  -->
        <div class="row">
          <form action="/create-list" method="post">
            <!-- text input  -->
            <div class="txt-div">
              <input
                class="txt-input"
                type="text"
                id="input-box"
                name="text"
                placeholder="Add your new todo"
              />
            </div>
            <!-- date input  -->
            <div class="date-div">
              <input
                class="date-input"
                type="date"
                placeholder="Due date"
                name="date"
                id="date"
              />
            </div>
            <!-- add button  -->
            <input class="button" type="submit" value="Add" />
          </form>
        </div>

        <!-- List -->
        <ul id="list-container">
          <hr />
          <% for( let i of todo_list) { %>
          <li class="">
            <div>
              <p class="todo-text"><%= i.text %></p>
              <p class="date">
                <img class="calendar-img" src="/images/calendar.png" alt="" />
                <%= i.date.slice(0,15) %>
              </p>
            </div>
            <!-- delete button -->
            <a href="/delete-list/?id=<%= i._id%>">
              <img class="delete-img" src="/images/cross 2.png" alt=""
            /></a>
          </li>
          <hr />
          <% } %>
        </ul>
      </div>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>
